<div class="nowrap">
  <tour-maps [activeWaypoints]="selectedTour?.waypoints" [allWaypoints]="waypointsService.waypoints$ | async" style="width: 100%"></tour-maps>
</div>
<div id="tour-details" class="w-50">
  <tour-select [(selectedTour)]="selectedTour" [tours]="tours"></tour-select>
  <tour-details [tour]="selectedTour"></tour-details>
</div>
<div class="vertical-line"></div>
<div class="w-50">
  <waypoint-list (onDragEndChange)="onDragEnd($event)" [waypoints]="waypointsService.waypoints$ | async"></waypoint-list>
</div>